#welcome{z-index:9;
    position:absolute;
    height:300px;
    left:0;
    bottom:0;
    top:0;
    right:0;
    width:100%;
    padding-bottom:100px;
    background: rgb(2,0,36);
background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(156,164,144,1) 5%, rgba(21,10,118,1) 40%, rgba(0,212,255,1) 100%);
}
img{
    margin-top:50px;
    border-radius:50px;
    
height:200px;
width:490px;    
}
body{
    margin:0;
    padding-top:250px;
    text-align: center
}
#bio{
    padding-top:150px;
}
p{
    max-width:400px;
    margin:25px auto;
}
.menu{
position:fixed;
    top:10px;
    right:30px;
    z-index:10;
    list-style:none;
}
.links{
 float:left;
padding-left:5px;
padding-right:5px;
font-size:20px;
    color: aqua;
    
}
#name{
    font-family: 'Praise', cursive;
    font-size:40px;
    color:white;
} 
a{
    text-decoration: none
}
a:hover{
    color:chartreuse;
    background-color: white;
    font-size:30px;
}